openapi: 3.0.0
info:
  title: Payment
  version: '1.0'
  description: |
    These are the API for the (version =?)
    This API is a standard REST-style API that accepts /returns JSON requests and is located at :
    http://payment.walliitools.com/
  contact: {}
  license: {}
servers:
  - url: 'http://payment.walliitools.com/Payment'
    description: prod
paths:
  /SetKeys:
    post:
      summary: Set Keys
      operationId: SetKeys
      responses:
        '200':
          description: OK
      description: |-
        This method is used to set the keys of payment gateways in the api. Set the keys before every
        call of any method.
      tags:
        - Set Keys
      parameters:
        - schema:
            type: string
          in: query
          name: SquareAccessToken
        - schema:
            type: string
          in: query
          name: SquareClientID
        - schema:
            type: string
          in: query
          name: SquareClientSecret
        - schema:
            type: string
          in: query
          name: SumupClientID
        - schema:
            type: string
          in: query
          name: SumupClientSecret
        - schema:
            type: string
          in: query
          name: BraintreeMerchantId
        - schema:
            type: string
          in: query
          name: BraintreePublicKey
        - schema:
            type: string
          in: query
          name: BraintreePrivateKey
        - schema:
            type: string
          in: query
          name: BraintreeTokenizationKey
  /GetAuthorizationCode:
    parameters: []
    post:
      summary: Get Authorization Code
      operationId: GetAuthorizationCode
      responses:
        '200':
          description: Sucess
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples: {}
      description: 'This method is used to redirect to payment gateway Oauth authorize window for getting authorization token. Also, authorization token is sent to this method to be used in web api'
      tags:
        - Authorize
      parameters:
        - schema:
            type: string
          in: query
          name: code
          description: |-
            Authorization code sent by payment
            gateway
            (Required if code is to be set)
        - schema:
            type: string
          in: query
          name: paymentGateway
          description: |-
            Name of payment gateway (i.e Square,
            SumUp)
            (Required if method is called to redirect to
            payment gateway authorize window)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  code: ''
                  paymentGateway: Square
        description: ''
  /ListCustomers:
    post:
      summary: List Customers
      operationId: ListCustomers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    errors: null
                    customers:
                      - id: KFKFRBVVN0ZB56Q90BGZ8DESJW
                        created_at: '2020-06-07T12:47:49.926Z'
                        updated_at: '2020-06-07T12:47:50Z'
                        cards:
                          - id: 'ccof:WZngFGfUsqNtg6Zj4GB'
                            card_brand: VISA
                            last_4: '1111'
                            exp_month: 2
                            exp_year: 2023
                            cardholder_name: farah
                            billing_address:
                              address_line_1: '825 Eighth Avenue, New York'
                              address_line_2: '1860 McOrmond drive '
                              address_line_3: null
                              locality: ontario
                              sublocality: null
                              sublocality_2: null
                              sublocality_3: null
                              administrative_district_level_1: ca
                              administrative_district_level_2: null
                              administrative_district_level_3: null
                              postal_code: '94103'
                              country: zz
                              first_name: null
                              last_name: null
                              organization: null
                            fingerprint: null
                            bin: null
                        given_name: farah
                        family_name: fg
                        nickname: fa
                        company_name: test
                        email_address: apitest@hidata.com
                        address:
                          address_line_1: '1860 McOrmond drive '
                          address_line_2: null
                          address_line_3: null
                          locality: Manhattan
                          sublocality: null
                          sublocality_2: null
                          sublocality_3: null
                          administrative_district_level_1: SK
                          administrative_district_level_2: null
                          administrative_district_level_3: null
                          postal_code: S7S 0A5
                          country: null
                          first_name: null
                          last_name: null
                          organization: null
                        phone_number: null
                        birthday: null
                        reference_id: f123
                        note: test
                        preferences:
                          email_unsubscribed: false
                        groups:
                          - id: X8APPS177BVHY.CARDS_ON_FILE
                            name: Cards on File
                        creation_source: THIRD_PARTY
                    cursor: null
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  paymentGateway: Square
                  cursor: null
                  sortField: null
                  sortOrder: null
                  MerchantToken: string
                  ApplicationToken: string
        description: ''
      tags:
        - Customers
      description: List all the saved customers
      parameters:
        - schema:
            type: string
          in: query
          name: paymentGateway
          description: |-
            Name of payment gateway (i.e Square,
            Braintree)
          required: true
        - schema:
            type: string
          in: query
          name: cursor
          description: |-
            Pagination page no. Returned by payment
            gateway
        - schema:
            type: string
          in: query
          name: sortField
          description: DEFAULT/CREATED_AT
        - schema:
            type: string
          in: query
          name: sortOrder
          description: DESC/ASC
        - schema:
            type: string
          in: query
          name: MerchantToken
          required: true
        - schema:
            type: string
          in: query
          name: ApplicationToken
          required: true
  /CreateCustomer:
    post:
      summary: Create Customer
      operationId: CreateCustomer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    customerID: 3386QC83KGY1FDYDRRWTVDNDVM
      description: Create customer
      tags:
        - Customers
      parameters:
        - schema:
            type: string
          in: query
          name: paymentGateway
          required: true
        - schema:
            type: string
          in: query
          name: CustomerName
          description: Customer name
          required: true
        - schema:
            type: string
          in: query
          name: AddressLine1
          description: Address
          required: true
        - schema:
            type: string
          in: query
          name: AdministrativeDistrictLevel1
          required: true
          description: |-
            Two letter state code formatted
            according to ISO3166-1 alpha-2.
        - schema:
            type: string
          in: query
          name: Locality
          description: Locality name
          required: true
        - schema:
            type: string
          in: query
          name: PostalCode
          description: Postal Code
          required: true
        - schema:
            type: string
          in: query
          name: CompanyName
          description: Name of the customer’s company
          required: true
        - schema:
            type: string
          in: query
          name: EmailAddress
          description: Email address of customer
          required: true
        - schema:
            type: string
          in: query
          name: FamilyName
          description: Family Name
        - schema:
            type: string
          in: query
          name: Nickname
          description: Nick Name
        - schema:
            type: string
          in: query
          name: PhoneNumber
          description: Customer Phone Number
        - schema:
            type: string
          in: query
          name: ReferenceId
          required: true
          description: |-
            Any reference id to uniquely identify the
            customer I.e. CustomerID
        - schema:
            type: string
          in: query
          name: Note
          description: Any Note
        - schema:
            type: string
          in: query
          name: Country
          description: |-
            Two letter country code formatted
            according to ISO3166-1 alpha-2.
          required: true
        - schema:
            type: string
          in: query
          name: Website
          description: Website of customer
        - schema:
            type: string
          in: query
          name: MerchantToken
          required: true
        - schema:
            type: string
          in: query
          name: ApplicationToken
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  paymentGateway: Square
                  CustomerName: abc
                  AddressLine1: 1881 yonge street
                  AdministrativeDistrictLevel1: ''
                  Locality: toronto
                  PostalCode: M5E 1E5
                  CompanyName: string
                  EmailAddress: abc@gmail.com
                  FamilyName: string
                  Nickname: string
                  PhoneNumber: string
                  ReferenceId: ReferenceId
                  Note: ''
                  Country: Canada
                  Website: www.test.com
                  MerchantToken: MerchantToken
                  ApplicationToken: ApplicationToken
  /SearchCustomers:
    post:
      summary: Search Customers
      operationId: SearchCustomers
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    errors: null
                    customers:
                      - id: KFKFRBVVN0ZB56Q90BGZ8DESJW
                        created_at: '2020-06-07T12:47:49.926Z'
                        updated_at: '2020-06-07T12:47:50Z'
                        cards:
                          - id: 'ccof:WZngFGfUsqNtg6Zj4GB'
                            card_brand: VISA
                            last_4: '1111'
                            exp_month: 2
                            exp_year: 2023
                            cardholder_name: farah
                            billing_address:
                              address_line_1: '825 Eighth Avenue, New York'
                              address_line_2: '1860 McOrmond drive '
                              address_line_3: null
                              locality: ontario
                              sublocality: null
                              sublocality_2: null
                              sublocality_3: null
                              administrative_district_level_1: ca
                              administrative_district_level_2: null
                              administrative_district_level_3: null
                              postal_code: '94103'
                              country: zz
                              first_name: null
                              last_name: null
                              organization: null
                            fingerprint: null
                            bin: null
                        given_name: farah
                        family_name: fg
                        nickname: fa
                        company_name: test
                        email_address: apitest@hidata.com
                        address:
                          address_line_1: '1860 McOrmond drive '
                          address_line_2: null
                          address_line_3: null
                          locality: Manhattan
                          sublocality: null
                          sublocality_2: null
                          sublocality_3: null
                          administrative_district_level_1: SK
                          administrative_district_level_2: null
                          administrative_district_level_3: null
                          postal_code: S7S 0A5
                          country: null
                          first_name: null
                          last_name: null
                          organization: null
                        phone_number: null
                        birthday: null
                        reference_id: f123
                        note: test
                        preferences:
                          email_unsubscribed: false
                        groups:
                          - id: X8APPS177BVHY.CARDS_ON_FILE
                            name: Cards on file
                        creation_source: third_party
                      - id: 3386qc83kgy1fdydrrwtvdndvm
                        created_at: '2020-06-11t12:58:59.763z'
                        updated_at: '2020-06-11t12:59:00z'
                        cards: null
                        given_name: farahvb
                        family_name: ad
                        nickname: af
                        company_name: test
                        email_address: apitest@hidata.com
                        address:
                          address_line_1: '825 Eighth Avenue, New York'
                          address_line_2: null
                          address_line_3: null
                          locality: ontario
                          sublocality: null
                          sublocality_2: null
                          sublocality_3: null
                          administrative_district_level_1: CA
                          administrative_district_level_2: null
                          administrative_district_level_3: null
                          postal_code: S7S 0A5
                          country: null
                          first_name: null
                          last_name: null
                          organization: null
                        phone_number: null
                        birthday: null
                        reference_id: cv11
                        note: test
                        preferences:
                          email_unsubscribed: false
                        groups: null
                        creation_source: THIRD_PARTY
                    cursor: null
      description: Search saved customers.
      tags:
        - Customers
      parameters:
        - schema:
            type: string
          in: query
          name: paymentGateway
          description: |-
            Name of payment gateway (i.e
            Square, Braintree)
        - schema:
            type: string
          in: query
          name: CreatedEndsAt
          description: |-
            A datetime value in RFC-3339 format
            indicating when the time range ends
        - schema:
            type: string
          in: query
          name: CreatedStartAt
          description: |-
            A datetime value in RFC-3339 format
            indicating when the time range starts
        - schema:
            type: string
          in: query
          name: UpdatedEndsAt
          description: |-
            A datetime value in RFC-3339 format
            indicating when the time range ends
        - schema:
            type: string
          in: query
          name: UpdatedStartAt
          description: |-
            A datetime value in RFC-3339 format
            indicating when the time range starts
        - schema:
            type: string
          in: query
          name: Order
          description: DESC/ASC
        - schema:
            type: string
          in: query
          name: cursor
          description: |-
            Pagination page no. Returned by
            payment gateway
        - schema:
            type: string
          in: query
          name: limit
          description: |-
            A limit on the number of results to be
            returned in a single page
        - schema:
            type: string
          in: query
          name: CompanyName
          description: The customer’s company
        - schema:
            type: string
          in: query
          name: Email
          description: "The customer's email"
        - schema:
            type: string
          in: query
          name: Fax
          description: "The customer's fax number"
        - schema:
            type: string
          in: query
          name: FirstName
          description: "The customer's first name"
        - schema:
            type: string
          in: query
          name: Id
          description: Unique CustomerID
        - schema:
            type: string
          in: query
          name: LastName
          description: "The customer's last name"
        - schema:
            type: string
          in: query
          name: Website
          description: "The customer's website"
        - schema:
            type: string
          in: query
          name: CountryName
          description: The customer’s country
        - schema:
            type: string
          in: query
          name: CardholderName
          description: |-
            The name on a credit card associated
            with the customer
        - schema:
            type: string
          in: query
          name: CreditCardExpirationDate
          description: |-
            The expiration date of a credit card
            associated with the customer
        - schema:
            type: string
          in: query
          name: CreditCardNumber
          description: |-
            The number of a credit card
            associated with the customer
        - schema:
            type: string
          in: query
          name: MerchantToken
          required: true
        - schema:
            type: string
          in: query
          name: ApplicationToken
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  paymentGateway: paymentGateway
                  CreatedEndsAt: CreatedEndsAt
                  CreatedStartAt: CreatedStartAt
                  UpdatedEndsAt: UpdatedEndsAt
                  UpdatedStartAt: UpdatedStartAt
                  Order: Order
                  cursor: cursor
                  limit: limit.ToString()
                  CompanyName: CompanyName
                  Email: Email
                  Fax: Fax
                  FirstName: FirstName
                  Id: Id
                  LastName: LastName
                  Website: Website
                  CountryName: CountryName
                  CardholderName: CardholderName
                  CreditCardExpirationDate: CreditCardExpirationDate
                  CreditCardNumber: CreditCardNumber
                  MerchantToken: MerchantToken
                  ApplicationToken: ApplicationToken
        description: "               \n"
  /DeleteCustomer:
    post:
      summary: Delete Customer
      operationId: DeleteCustomer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    errors: null
      description: Delete saved customer.
      parameters:
        - schema:
            type: string
          in: query
          name: paymentGateway
          description: |-
            Name of payment gateway (i.e Square,
            Braintree)
          required: true
        - schema:
            type: string
          in: query
          name: customerId
          description: |-
            Unique CustomerID from payment
            gateway
          required: true
        - schema:
            type: string
          in: query
          name: MerchantToken
          required: true
        - schema:
            type: string
          in: query
          name: ApplicationToken
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  paymentGateway: paymentGateway
                  customerId: customerId
                  MerchantToken: MerchantToken
                  ApplicationToken: ApplicationToken
      tags:
        - Customers
  /CreateLocation:
    post:
      summary: Create Location
      operationId: CreateLocation
      responses:
        '200':
          description: OK
        '':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples: {}
      description: Create a location.
      tags:
        - Locations
      parameters:
        - schema:
            type: string
          in: query
          name: paymentGateway
          description: Name of payment gateway (i.e Square)
          required: true
        - schema:
            type: string
          in: query
          name: AddressLine1
          required: true
          description: Address
        - schema:
            type: string
          in: query
          description: Address
          required: true
          name: AddressLine2
        - schema:
            type: string
          in: query
          name: AdministrativeDistrictLevel1
          description: |-
            Two letter state code formatted according to
            ISO3166-1 alpha-2.
          required: true
        - schema:
            type: string
          in: query
          name: Locality
          description: Locality name
          required: true
        - schema:
            type: string
          in: query
          name: Sublocality
          description: Locality name
          required: true
        - schema:
            type: string
          in: query
          name: PostalCode
          description: Postal Code
          required: true
        - schema:
            type: string
          in: query
          name: LocationName
          required: true
          description: Name of the location
        - schema:
            type: string
          in: query
          name: Description
          description: Any description for location
        - schema:
            type: string
          in: query
          name: MerchantToken
          required: true
        - schema:
            type: string
          in: query
          name: ApplicationToken
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  paymentGateway: paymentGateway
                  AddressLine1: AddressLine1
                  AddressLine2: AddressLine2
                  AdministrativeDistrictLevel1: AdministrativeDistrictLevel1
                  Locality: Locality
                  Sublocality: Sublocality
                  PostalCode: PostalCode
                  LocationName: LocationName
                  Description: Description
                  MerchantToken: MerchantToken
                  ApplicationToken: ApplicationToken
  '/GetAllMerchants/{paymentGateway}':
    post:
      summary: Get All Merchants
      operationId: GetAllMerchants
      responses:
        '200':
          description: OK
        '':
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    id: X8APPS177BVHY
                    business_name: NewTestAcc
                    country: CA
                    language_code: en-CA
                    currency: CAD
                    status: ACTIVE
                example-2:
                  value:
                    id: X8APPS177BVHY
                    business_name: NewTestAcc
                    country: CA
                    language_code: en-CA
                    currency: CAD
                    status: ACTIVE
          description: Json list containing details of all merchants
      description: Get All Merchants.
      parameters:
        - schema:
            type: string
          in: query
          name: MerchantToken
          required: true
        - schema:
            type: string
          in: query
          name: ApplicationToken
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties: {}
            examples:
              example-1:
                value:
                  paymentGateway: paymentGateway
                  merchantId: merchantId
                  MerchantToken: MerchantToken
                  ApplicationToken: ApplicationToken
      tags:
        - Merchants
    parameters:
      - schema:
          type: string
        name: paymentGateway
        in: path
        required: true
        description: |-
          Name of payment gateway (i.e Square,
          Braintree)
  /testListCusomerBraintree:
    post:
      summary: testListCustomerBraintree
      operationId: post-test
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties: {}
              examples:
                example-1:
                  value:
                    - Id: '7'
                      FirstName: Yeshi Ngawang
                      LastName: null
                      Company: "Yeshi'House"
                      Email: tenzinyeshi89@gmail.com
                      Phone: '9627908288'
                      Fax: null
                      Website: null
                      GraphQLId: Y3VzdG9tZXJfNw
                      CreatedAt: '2020-06-08T14:03:05Z'
                      UpdatedAt: '2020-06-08T14:03:05Z'
                      CreditCards: []
                      PayPalAccounts: []
                      ApplePayCards: []
                      AndroidPayCards: []
                      AmexExpressCheckoutCards: []
                      CoinbaseAccounts: []
                      VenmoAccounts: []
                      VisaCheckoutCards: []
                      MasterpassCards: []
                      UsBankAccounts: []
                      PaymentMethods: []
                      Addresses: []
                      CustomFields: {}
                      DefaultPaymentMethod: null
                    - Id: '5'
                      FirstName: disha patel
                      LastName: null
                      Company: disha
                      Email: disha.patel@bitbuffs.com
                      Phone: '9090907878'
                      Fax: null
                      Website: null
                      GraphQLId: Y3VzdG9tZXJfNQ
                      CreatedAt: '2020-06-08T12:38:02Z'
                      UpdatedAt: '2020-06-08T12:38:02Z'
                      CreditCards: []
                      PayPalAccounts: []
                      ApplePayCards: []
                      AndroidPayCards: []
                      AmexExpressCheckoutCards: []
                      CoinbaseAccounts: []
                      VenmoAccounts: []
                      VisaCheckoutCards: []
                      MasterpassCards: []
                      UsBankAccounts: []
                      PaymentMethods: []
                      Addresses: []
                      CustomFields: {}
                      DefaultPaymentMethod: null
                    - Id: '3'
                      FirstName: Hardik Panchal
                      LastName: null
                      Company: HP Company
                      Email: emca@bitbuffs.com
                      Phone: '1234567890'
                      Fax: null
                      Website: null
                      GraphQLId: Y3VzdG9tZXJfMw
                      CreatedAt: '2020-06-08T09:30:23Z'
                      UpdatedAt: '2020-06-08T09:31:03Z'
                      CreditCards:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-08T09:31:56Z'
                          CustomerId: '3'
                          IsDefault: false
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: j9ytr9g
                          UpdatedAt: '2020-06-08T09:31:56Z'
                          BillingAddress:
                            Id: kj
                            CustomerId: '3'
                            FirstName: Hardik Panchal
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-08T09:31:56Z'
                            UpdatedAt: '2020-06-08T09:31:56Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-08T09:31:02Z'
                          CustomerId: '3'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 5wrcmmm
                          UpdatedAt: '2020-06-08T09:31:04Z'
                          BillingAddress:
                            Id: ny
                            CustomerId: '3'
                            FirstName: Hardik Panchal
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-08T09:31:02Z'
                            UpdatedAt: '2020-06-08T09:31:02Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      PayPalAccounts: []
                      ApplePayCards: []
                      AndroidPayCards: []
                      AmexExpressCheckoutCards: []
                      CoinbaseAccounts: []
                      VenmoAccounts: []
                      VisaCheckoutCards: []
                      MasterpassCards: []
                      UsBankAccounts: []
                      PaymentMethods:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-08T09:31:56Z'
                          CustomerId: '3'
                          IsDefault: false
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: j9ytr9g
                          UpdatedAt: '2020-06-08T09:31:56Z'
                          BillingAddress:
                            Id: kj
                            CustomerId: '3'
                            FirstName: Hardik Panchal
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-08T09:31:56Z'
                            UpdatedAt: '2020-06-08T09:31:56Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-08T09:31:02Z'
                          CustomerId: '3'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 5wrcmmm
                          UpdatedAt: '2020-06-08T09:31:04Z'
                          BillingAddress:
                            Id: ny
                            CustomerId: '3'
                            FirstName: Hardik Panchal
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-08T09:31:02Z'
                            UpdatedAt: '2020-06-08T09:31:02Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      Addresses:
                        - Id: ny
                          CustomerId: '3'
                          FirstName: Hardik Panchal
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-08T09:31:02Z'
                          UpdatedAt: '2020-06-08T09:31:02Z'
                        - Id: kj
                          CustomerId: '3'
                          FirstName: Hardik Panchal
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-08T09:31:56Z'
                          UpdatedAt: '2020-06-08T09:31:56Z'
                      CustomFields: {}
                      DefaultPaymentMethod:
                        Bin: '411111'
                        CardholderName: null
                        CardType: {}
                        CreatedAt: '2020-06-08T09:31:02Z'
                        CustomerId: '3'
                        IsDefault: true
                        IsVenmoSdk: false
                        IsExpired: false
                        CustomerLocation: {}
                        LastFour: '1111'
                        UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                        Subscriptions: []
                        Token: 5wrcmmm
                        UpdatedAt: '2020-06-08T09:31:04Z'
                        BillingAddress:
                          Id: ny
                          CustomerId: '3'
                          FirstName: Hardik Panchal
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-08T09:31:02Z'
                          UpdatedAt: '2020-06-08T09:31:02Z'
                        ExpirationMonth: '10'
                        ExpirationYear: '2025'
                        Prepaid: {}
                        Payroll: {}
                        Debit: {}
                        Commercial: {}
                        Healthcare: {}
                        DurbinRegulated: {}
                        ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                        Verification: null
                        AccountType: null
                        CountryOfIssuance: Unknown
                        IssuingBank: Unknown
                        ProductId: Unknown
                        ExpirationDate: 10/2025
                        MaskedNumber: '411111******1111'
                    - Id: '152'
                      FirstName: Riya Agarwal
                      LastName: null
                      Company: Riya Company
                      Email: riyaagarwal551973@gmail.com
                      Phone: '9824095896'
                      Fax: null
                      Website: null
                      GraphQLId: Y3VzdG9tZXJfMTUy
                      CreatedAt: '2020-06-05T15:24:34Z'
                      UpdatedAt: '2020-06-05T15:24:58Z'
                      CreditCards:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T15:24:58Z'
                          CustomerId: '152'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: m8494r2
                          UpdatedAt: '2020-06-05T15:24:59Z'
                          BillingAddress:
                            Id: p3
                            CustomerId: '152'
                            FirstName: Riya Agarwal
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T15:24:58Z'
                            UpdatedAt: '2020-06-05T15:24:58Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      PayPalAccounts: []
                      ApplePayCards: []
                      AndroidPayCards: []
                      AmexExpressCheckoutCards: []
                      CoinbaseAccounts: []
                      VenmoAccounts: []
                      VisaCheckoutCards: []
                      MasterpassCards: []
                      UsBankAccounts: []
                      PaymentMethods:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T15:24:58Z'
                          CustomerId: '152'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: m8494r2
                          UpdatedAt: '2020-06-05T15:24:59Z'
                          BillingAddress:
                            Id: p3
                            CustomerId: '152'
                            FirstName: Riya Agarwal
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T15:24:58Z'
                            UpdatedAt: '2020-06-05T15:24:58Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      Addresses:
                        - Id: p3
                          CustomerId: '152'
                          FirstName: Riya Agarwal
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T15:24:58Z'
                          UpdatedAt: '2020-06-05T15:24:58Z'
                      CustomFields: {}
                      DefaultPaymentMethod:
                        Bin: '411111'
                        CardholderName: null
                        CardType: {}
                        CreatedAt: '2020-06-05T15:24:58Z'
                        CustomerId: '152'
                        IsDefault: true
                        IsVenmoSdk: false
                        IsExpired: false
                        CustomerLocation: {}
                        LastFour: '1111'
                        UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                        Subscriptions: []
                        Token: m8494r2
                        UpdatedAt: '2020-06-05T15:24:59Z'
                        BillingAddress:
                          Id: p3
                          CustomerId: '152'
                          FirstName: Riya Agarwal
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T15:24:58Z'
                          UpdatedAt: '2020-06-05T15:24:58Z'
                        ExpirationMonth: '10'
                        ExpirationYear: '2025'
                        Prepaid: {}
                        Payroll: {}
                        Debit: {}
                        Commercial: {}
                        Healthcare: {}
                        DurbinRegulated: {}
                        ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                        Verification: null
                        AccountType: null
                        CountryOfIssuance: Unknown
                        IssuingBank: Unknown
                        ProductId: Unknown
                        ExpirationDate: 10/2025
                        MaskedNumber: '411111******1111'
                    - Id: '151'
                      FirstName: Dalkon Lukios
                      LastName: null
                      Company: POPO
                      Email: asta@gmail.com
                      Phone: '8545745966'
                      Fax: null
                      Website: null
                      GraphQLId: Y3VzdG9tZXJfMTUx
                      CreatedAt: '2020-06-05T08:53:11Z'
                      UpdatedAt: '2020-06-05T08:53:32Z'
                      CreditCards:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T10:07:18Z'
                          CustomerId: '151'
                          IsDefault: false
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: cgxvr2m
                          UpdatedAt: '2020-06-05T10:07:18Z'
                          BillingAddress:
                            Id: pd
                            CustomerId: '151'
                            FirstName: iop
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T10:07:18Z'
                            UpdatedAt: '2020-06-05T10:07:18Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:53:32Z'
                          CustomerId: '151'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 6fb5x8w
                          UpdatedAt: '2020-06-05T08:53:34Z'
                          BillingAddress:
                            Id: j4
                            CustomerId: '151'
                            FirstName: opp
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:53:32Z'
                            UpdatedAt: '2020-06-05T08:53:32Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      PayPalAccounts: []
                      ApplePayCards: []
                      AndroidPayCards: []
                      AmexExpressCheckoutCards: []
                      CoinbaseAccounts: []
                      VenmoAccounts: []
                      VisaCheckoutCards: []
                      MasterpassCards: []
                      UsBankAccounts: []
                      PaymentMethods:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T10:07:18Z'
                          CustomerId: '151'
                          IsDefault: false
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: cgxvr2m
                          UpdatedAt: '2020-06-05T10:07:18Z'
                          BillingAddress:
                            Id: pd
                            CustomerId: '151'
                            FirstName: iop
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T10:07:18Z'
                            UpdatedAt: '2020-06-05T10:07:18Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:53:32Z'
                          CustomerId: '151'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 6fb5x8w
                          UpdatedAt: '2020-06-05T08:53:34Z'
                          BillingAddress:
                            Id: j4
                            CustomerId: '151'
                            FirstName: opp
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:53:32Z'
                            UpdatedAt: '2020-06-05T08:53:32Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      Addresses:
                        - Id: j4
                          CustomerId: '151'
                          FirstName: opp
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T08:53:32Z'
                          UpdatedAt: '2020-06-05T08:53:32Z'
                        - Id: pd
                          CustomerId: '151'
                          FirstName: iop
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T10:07:18Z'
                          UpdatedAt: '2020-06-05T10:07:18Z'
                      CustomFields: {}
                      DefaultPaymentMethod:
                        Bin: '411111'
                        CardholderName: null
                        CardType: {}
                        CreatedAt: '2020-06-05T08:53:32Z'
                        CustomerId: '151'
                        IsDefault: true
                        IsVenmoSdk: false
                        IsExpired: false
                        CustomerLocation: {}
                        LastFour: '1111'
                        UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                        Subscriptions: []
                        Token: 6fb5x8w
                        UpdatedAt: '2020-06-05T08:53:34Z'
                        BillingAddress:
                          Id: j4
                          CustomerId: '151'
                          FirstName: opp
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T08:53:32Z'
                          UpdatedAt: '2020-06-05T08:53:32Z'
                        ExpirationMonth: '10'
                        ExpirationYear: '2025'
                        Prepaid: {}
                        Payroll: {}
                        Debit: {}
                        Commercial: {}
                        Healthcare: {}
                        DurbinRegulated: {}
                        ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                        Verification: null
                        AccountType: null
                        CountryOfIssuance: Unknown
                        IssuingBank: Unknown
                        ProductId: Unknown
                        ExpirationDate: 10/2025
                        MaskedNumber: '411111******1111'
                    - Id: '150'
                      FirstName: Tsetan Lalaya
                      LastName: null
                      Company: 'O&O'
                      Email: popo@gmail.com
                      Phone: '8565452155'
                      Fax: null
                      Website: null
                      GraphQLId: Y3VzdG9tZXJfMTUw
                      CreatedAt: '2020-06-05T08:49:09Z'
                      UpdatedAt: '2020-06-05T08:49:47Z'
                      CreditCards:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:49:47Z'
                          CustomerId: '150'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: ncq6n6m
                          UpdatedAt: '2020-06-05T08:50:05Z'
                          BillingAddress:
                            Id: s2
                            CustomerId: '150'
                            FirstName: usop
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:49:47Z'
                            UpdatedAt: '2020-06-05T08:49:47Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      PayPalAccounts: []
                      ApplePayCards: []
                      AndroidPayCards: []
                      AmexExpressCheckoutCards: []
                      CoinbaseAccounts: []
                      VenmoAccounts: []
                      VisaCheckoutCards: []
                      MasterpassCards: []
                      UsBankAccounts: []
                      PaymentMethods:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:49:47Z'
                          CustomerId: '150'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: ncq6n6m
                          UpdatedAt: '2020-06-05T08:50:05Z'
                          BillingAddress:
                            Id: s2
                            CustomerId: '150'
                            FirstName: usop
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:49:47Z'
                            UpdatedAt: '2020-06-05T08:49:47Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      Addresses:
                        - Id: s2
                          CustomerId: '150'
                          FirstName: usop
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T08:49:47Z'
                          UpdatedAt: '2020-06-05T08:49:47Z'
                      CustomFields: {}
                      DefaultPaymentMethod:
                        Bin: '411111'
                        CardholderName: null
                        CardType: {}
                        CreatedAt: '2020-06-05T08:49:47Z'
                        CustomerId: '150'
                        IsDefault: true
                        IsVenmoSdk: false
                        IsExpired: false
                        CustomerLocation: {}
                        LastFour: '1111'
                        UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                        Subscriptions: []
                        Token: ncq6n6m
                        UpdatedAt: '2020-06-05T08:50:05Z'
                        BillingAddress:
                          Id: s2
                          CustomerId: '150'
                          FirstName: usop
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T08:49:47Z'
                          UpdatedAt: '2020-06-05T08:49:47Z'
                        ExpirationMonth: '10'
                        ExpirationYear: '2025'
                        Prepaid: {}
                        Payroll: {}
                        Debit: {}
                        Commercial: {}
                        Healthcare: {}
                        DurbinRegulated: {}
                        ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                        Verification: null
                        AccountType: null
                        CountryOfIssuance: Unknown
                        IssuingBank: Unknown
                        ProductId: Unknown
                        ExpirationDate: 10/2025
                        MaskedNumber: '411111******1111'
                    - Id: '149'
                      FirstName: Gold Roger
                      LastName: null
                      Company: 'G&D'
                      Email: gold@gmail.com
                      Phone: '9856585255'
                      Fax: null
                      Website: null
                      GraphQLId: Y3VzdG9tZXJfMTQ5
                      CreatedAt: '2020-06-05T08:32:48Z'
                      UpdatedAt: '2020-06-05T08:33:43Z'
                      CreditCards:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:33:43Z'
                          CustomerId: '149'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 8dmb8r2
                          UpdatedAt: '2020-06-05T08:34:21Z'
                          BillingAddress:
                            Id: 6h
                            CustomerId: '149'
                            FirstName: yeshi
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:33:43Z'
                            UpdatedAt: '2020-06-05T08:33:43Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      PayPalAccounts: []
                      ApplePayCards: []
                      AndroidPayCards: []
                      AmexExpressCheckoutCards: []
                      CoinbaseAccounts: []
                      VenmoAccounts: []
                      VisaCheckoutCards: []
                      MasterpassCards: []
                      UsBankAccounts: []
                      PaymentMethods:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:33:43Z'
                          CustomerId: '149'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 8dmb8r2
                          UpdatedAt: '2020-06-05T08:34:21Z'
                          BillingAddress:
                            Id: 6h
                            CustomerId: '149'
                            FirstName: yeshi
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:33:43Z'
                            UpdatedAt: '2020-06-05T08:33:43Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      Addresses:
                        - Id: 6h
                          CustomerId: '149'
                          FirstName: yeshi
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T08:33:43Z'
                          UpdatedAt: '2020-06-05T08:33:43Z'
                      CustomFields: {}
                      DefaultPaymentMethod:
                        Bin: '411111'
                        CardholderName: null
                        CardType: {}
                        CreatedAt: '2020-06-05T08:33:43Z'
                        CustomerId: '149'
                        IsDefault: true
                        IsVenmoSdk: false
                        IsExpired: false
                        CustomerLocation: {}
                        LastFour: '1111'
                        UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                        Subscriptions: []
                        Token: 8dmb8r2
                        UpdatedAt: '2020-06-05T08:34:21Z'
                        BillingAddress:
                          Id: 6h
                          CustomerId: '149'
                          FirstName: yeshi
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T08:33:43Z'
                          UpdatedAt: '2020-06-05T08:33:43Z'
                        ExpirationMonth: '10'
                        ExpirationYear: '2025'
                        Prepaid: {}
                        Payroll: {}
                        Debit: {}
                        Commercial: {}
                        Healthcare: {}
                        DurbinRegulated: {}
                        ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                        Verification: null
                        AccountType: null
                        CountryOfIssuance: Unknown
                        IssuingBank: Unknown
                        ProductId: Unknown
                        ExpirationDate: 10/2025
                        MaskedNumber: '411111******1111'
                    - Id: '148'
                      FirstName: Gummy Dean
                      LastName: null
                      Company: 'A&F'
                      Email: gummy@gmail.com
                      Phone: '9585654255'
                      Fax: null
                      Website: null
                      GraphQLId: Y3VzdG9tZXJfMTQ4
                      CreatedAt: '2020-06-05T08:28:58Z'
                      UpdatedAt: '2020-06-05T08:29:21Z'
                      CreditCards:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:29:21Z'
                          CustomerId: '148'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 3r45vb2
                          UpdatedAt: '2020-06-05T08:29:23Z'
                          BillingAddress:
                            Id: 9z
                            CustomerId: '148'
                            FirstName: Gummy
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:29:21Z'
                            UpdatedAt: '2020-06-05T08:29:21Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      PayPalAccounts: []
                      ApplePayCards: []
                      AndroidPayCards: []
                      AmexExpressCheckoutCards: []
                      CoinbaseAccounts: []
                      VenmoAccounts: []
                      VisaCheckoutCards: []
                      MasterpassCards: []
                      UsBankAccounts: []
                      PaymentMethods:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:29:21Z'
                          CustomerId: '148'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 3r45vb2
                          UpdatedAt: '2020-06-05T08:29:23Z'
                          BillingAddress:
                            Id: 9z
                            CustomerId: '148'
                            FirstName: Gummy
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:29:21Z'
                            UpdatedAt: '2020-06-05T08:29:21Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      Addresses:
                        - Id: 9z
                          CustomerId: '148'
                          FirstName: Gummy
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T08:29:21Z'
                          UpdatedAt: '2020-06-05T08:29:21Z'
                      CustomFields: {}
                      DefaultPaymentMethod:
                        Bin: '411111'
                        CardholderName: null
                        CardType: {}
                        CreatedAt: '2020-06-05T08:29:21Z'
                        CustomerId: '148'
                        IsDefault: true
                        IsVenmoSdk: false
                        IsExpired: false
                        CustomerLocation: {}
                        LastFour: '1111'
                        UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                        Subscriptions: []
                        Token: 3r45vb2
                        UpdatedAt: '2020-06-05T08:29:23Z'
                        BillingAddress:
                          Id: 9z
                          CustomerId: '148'
                          FirstName: Gummy
                          LastName: null
                          Company: null
                          StreetAddress: 500 Electric Ave
                          ExtendedAddress: null
                          Locality: New York
                          Region: NY
                          PostalCode: '94103'
                          CountryCodeAlpha2: null
                          CountryCodeAlpha3: null
                          CountryCodeNumeric: null
                          CountryName: null
                          CreatedAt: '2020-06-05T08:29:21Z'
                          UpdatedAt: '2020-06-05T08:29:21Z'
                        ExpirationMonth: '10'
                        ExpirationYear: '2025'
                        Prepaid: {}
                        Payroll: {}
                        Debit: {}
                        Commercial: {}
                        Healthcare: {}
                        DurbinRegulated: {}
                        ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                        Verification: null
                        AccountType: null
                        CountryOfIssuance: Unknown
                        IssuingBank: Unknown
                        ProductId: Unknown
                        ExpirationDate: 10/2025
                        MaskedNumber: '411111******1111'
                    - Id: '147'
                      FirstName: Vinay pate
                      LastName: null
                      Company: Mnv
                      Email: vin@gmail.com
                      Phone: '3652565422'
                      Fax: null
                      Website: null
                      GraphQLId: Y3VzdG9tZXJfMTQ3
                      CreatedAt: '2020-06-05T08:21:35Z'
                      UpdatedAt: '2020-06-05T08:22:27Z'
                      CreditCards:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:23:50Z'
                          CustomerId: '147'
                          IsDefault: false
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 6fq8dtb
                          UpdatedAt: '2020-06-05T08:23:50Z'
                          BillingAddress:
                            Id: sg
                            CustomerId: '147'
                            FirstName: Uney
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:23:50Z'
                            UpdatedAt: '2020-06-05T08:23:50Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:22:27Z'
                          CustomerId: '147'
                          IsDefault: true
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: bwypvw2
                          UpdatedAt: '2020-06-05T08:22:48Z'
                          BillingAddress:
                            Id: qx
                            CustomerId: '147'
                            FirstName: Uney
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:22:27Z'
                            UpdatedAt: '2020-06-05T08:22:27Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
                          Commercial: {}
                          Healthcare: {}
                          DurbinRegulated: {}
                          ImageUrl: 'https://assets.braintreegateway.com/payment_method_logo/visa.png?environment=sandbox'
                          Verification: null
                          AccountType: null
                          CountryOfIssuance: Unknown
                          IssuingBank: Unknown
                          ProductId: Unknown
                          ExpirationDate: 10/2025
                          MaskedNumber: '411111******1111'
                      PayPalAccounts: []
                      ApplePayCards: []
                      AndroidPayCards: []
                      AmexExpressCheckoutCards: []
                      CoinbaseAccounts: []
                      VenmoAccounts: []
                      VisaCheckoutCards: []
                      MasterpassCards: []
                      UsBankAccounts: []
                      PaymentMethods:
                        - Bin: '411111'
                          CardholderName: null
                          CardType: {}
                          CreatedAt: '2020-06-05T08:23:50Z'
                          CustomerId: '147'
                          IsDefault: false
                          IsVenmoSdk: false
                          IsExpired: false
                          CustomerLocation: {}
                          LastFour: '1111'
                          UniqueNumberIdentifier: 40a258986c978d38fcd1aee0cacc333c
                          Subscriptions: []
                          Token: 6fq8dtb
                          UpdatedAt: '2020-06-05T08:23:50Z'
                          BillingAddress:
                            Id: sg
                            CustomerId: '147'
                            FirstName: Uney
                            LastName: null
                            Company: null
                            StreetAddress: 500 Electric Ave
                            ExtendedAddress: null
                            Locality: New York
                            Region: NY
                            PostalCode: '94103'
                            CountryCodeAlpha2: null
                            CountryCodeAlpha3: null
                            CountryCodeNumeric: null
                            CountryName: null
                            CreatedAt: '2020-06-05T08:23:50Z'
                            UpdatedAt: '2020-06-05T08:23:50Z'
                          ExpirationMonth: '10'
                          ExpirationYear: '2025'
                          Prepaid: {}
                          Payroll: {}
                          Debit: {}
[...]
